# App config
server:
  port: 8104

spring:
  application:
    name: catalog-service
  data:
    mongodb:
      authentication-database: admin
      username: root
      password: root
      database: db_catalogs
      port: 27017
      host: localhost

  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

#Actuator: Monitoreando la salud de nuestros microservicios
management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "*"
info:
  app:
    name: Catalog Service
    description: El microservicio tiene como objetivo invocar a los microservicios Movies y Series
    version: 1.0.0