# App config
server:
  port: 8103

spring:
  application:
    name: series-service
  data:
    mongodb:
      authentication-database: admin
      username: root
      password: root
      database: db_series
      port: 27017
      host: localhost

  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

#Actuator: Monitoreando la salud de nuestros microservicios
management:
  info:
    env:
      enabled: true
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "*"
info:
  app:
    name: Serie Service
    description: El microservicio gestiona las operaciones sobre las series
    version: 1.0.0